/* src/entries/Entries.css */
.entries {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    color: aliceblue;
  }
  
  .entry-list {
    margin-top: 20px;
  }
  
  .entry-item {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 4px;
  }
  
  .entry-item p {
    margin: 5px 0;
  }
  