/* src/components/Dashboard.css */
.dashboard {
    font-family: Arial, sans-serif;
    color: aliceblue;
  }
  
  .header-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .form-options {
    padding: 20px;
    text-align: center;
  }
  
  .options {
    margin-top: 20px;
  }
  
  .option-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .option-btn:hover {
    background-color: #45a049;
  }
  