body {
  background: rgba(18, 20, 24, 255);
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  color: aliceblue;
}

.login-box {
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.login-box button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #3e8e41;
}